@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
}

.menu-nav {
  display: flex;
  gap: 32px;
}

.menu {
  color: black;
  font-size: 32px;
}

.produtos {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 90px;
  margin-bottom: 20px;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  max-width: 300px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 20px;
  color: #555;
  margin: 10px 0;
}

.product p {
  font-size: 16px;
  color: #777;
  margin: 8px 0;
}



