@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
}

.menu-nav {
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 32px;
}

.menu {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 32px;
}

/* Estilos gerais */
.inicio {
    color: #283C40;
    font-family: "Rubik", sans-serif;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botao-container {
    display: flex;
    align-items: center;
}

.botao {
    background-color: #F2968F;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    text-align: center;
}



.img1 {
    position: relative;
    top: -100px;
    left: 150px;  
    width: 744px;
    height: auto;
}




