@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
}

.menu-nav {
    display: flex;
    gap: 32px;
}

.menu {
    color: black;
    font-size: 32px;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o main ocupe toda a largura */
}

.contact-form {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    width: 100%;
    margin: 6px 0;
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    font-size: 50px;
    margin-top: 100px;
}

.rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px; /* Adicionado para espaçamento entre os ícones */
}

.instagram {
    color: black;
}

.whatsapp {
    color: black;
}