@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset de margens e paddings, remoção de sublinhados e definição da fonte padrão */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(to right, #e3f7fc, #f9f9f9); /* Gradiente azul claro mais suave e branco */


}





/* Estilo do cabeçalho principal */
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
  border-bottom: 2px solid #555;

}

/* Estilo do menu de navegação */
.menu-nav {
  display: flex;
  gap: 32px;
}

/* Estilo dos itens do menu */
.menu {
  color: black;
  font-size: 32px;
}

/* Estilo da seção de produtos */
.produtos {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Estilo do título da seção */
.section-title {
  font-size: 90px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo do container que agrupa os produtos */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Estilo individual de cada produto */
.product {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  max-width: 300px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Efeito de hover nos produtos */
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo das imagens dos produtos */
.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Estilo do título de cada produto */
.product h3 {
  font-size: 20px;
  color: #555;
  margin: 10px 0;
}

/* Estilo da descrição de cada produto */
.product p {
  font-size: 16px;
  color: #777;
  margin: 8px 0;
}